<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>952210827677-m3n9uv3vl29slfj31mdhldck5qoed89i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952210827677-m3n9uv3vl29slfj31mdhldck5qoed89i</string>
	<key>API_KEY</key>
	<string>AIzaSyAKeefXxaNbkqH-7tj5Uqopyt4KYx1M0e8</string>
	<key>GCM_SENDER_ID</key>
	<string>952210827677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monash.Eventrack</string>
	<key>PROJECT_ID</key>
	<string>eventrack-6ba52</string>
	<key>STORAGE_BUCKET</key>
	<string>eventrack-6ba52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:952210827677:ios:4a99de4b9cdb678e</string>
	<key>DATABASE_URL</key>
	<string>https://eventrack-6ba52.firebaseio.com</string>
</dict>
</plist>